.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1.25em;
}

.header {
	display: flex;
	align-items: center;
}

.number-of-tasks,
.edit {
	margin-left: auto;
}

.project-list {
	border: black 2px solid;
	display: flex;
	align-items: center;
}

#add-project-div {
	display: flex;
	align-items: center;
}

.drop-down-option,
.more-info-icon,
#add-task-icon,
#add-project-div:hover {
	cursor: pointer;
}

#new-task-form-container,
#new-project-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(91, 112, 131, 0.4);
	width: 100vw;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	/* background-color: rgba(0, 0, 0, 0.5); */
	/* backdrop-filter: blur(4px); */
}

#new-task-form-div,
#new-project-form-div {
	display: flex;
	flex-direction: column;
	border: solid;
	background-color: #fff;
	border-radius: 12px;
	padding: 0.75em;
}

.task-list {
	display: flex;
	align-items: center;
}

.more-info-icon {
    display: none;
	margin-left: auto;
}

.drop-down-content{
    display:flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

.drop-down-option{
    padding: 0.25em;
}

.drop-down-option:hover{
    background-color: #ddd ;
}

