html {
	background-color: #3d4849;
	color: #e4e6eb;
}
.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1.25em;
}

.header {
	display: flex;
	align-items: center;
}

#show-hide-btn,
.edit {
	margin-left: auto;
}

#completed-task-count-container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#completed-task-count-text{
	margin-right: 0.25em;
}

#completed-task-count {
	margin: 0 4.5em 0 0.25em;
}

.project-list {
	border-bottom: #fff 2px solid;
	display: flex;
	align-items: center;
	position: relative;
}

.project-info-div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.project-title {
	margin: 0.5em 0 0.5em 0;
}

.number-of-tasks {
	margin: 0 0 0.35em 0.45em;
}

#add-project-div {
	width: fit-content;
	margin-top: 0.5em;
}

#completed-task-div,
#add-project-div {
	display: flex;
	align-items: center;
}

#add-project {
	margin-left: 0.15em;
}

#show-hide-btn,
.drop-down-task-option,
.drop-down-project-option,
.more-info-icon,
#add-task-icon,
#add-project-div:hover {
	cursor: pointer;
}

#new-task-form-container,
#new-project-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(91, 112, 131, 0.4);
	width: 100vw;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	/* background-color: rgba(0, 0, 0, 0.5); */
	/* backdrop-filter: blur(4px); */
}

.task-list {
	display: flex;
	align-items: center;
	position: relative;
}

.task-checkmark {
	border: 0px;
	width: 1.35em;
	height: 1.35em;
	cursor: pointer;
	visibility: visible;
}

.task-checkmark:after {
	width: 1.35em;
	height: 1.35em;
	border-radius: 15px;
	top: -2px;
	left: -2px;
	position: relative;
	background-color: #3d4849;
	content: "";
	display: inline-block;
	visibility: visible;
	border: 2px solid #e4e6eb;
}

.task-checkmark:checked:after {
	width: 1.35em;
	height: 1.35em;
	border-radius: 15px;
	top: -2px;
	left: -2px;
	position: relative;
	background-color: #ffa500;
	content: "";
	display: inline-block;
	visibility: visible;
	border: 2px solid #3d4849;
	box-shadow: 0 0 0px 2px #ffa500;
}

.task-info-container{
	margin-left: 0.5em;
}

.more-info-icon {
	display: none;
	margin-left: auto;
}

.drop-down-project-content,
.drop-down-task-content {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	background-color: #3d4849;
	width: -webkit-fill-available;
	text-align: end;
	z-index: 1;
}

.drop-down-task-option,
.drop-down-project-option {
	padding: 0.25em;
}

.drop-down-task-option:hover,
.drop-down-project-option:hover {
	background-color: #646d6d;
}

#new-task-form-div,
#new-project-form-div {
	display: flex;
	color: #000;
	flex-direction: column;
	border: solid;
	background-color: #fff;
	border-radius: 12px;
	padding: 0.75em;
}

.pop-up-window-title {
	margin: 0.5em 0;
}

#task-form {
	display: flex;
	flex-direction: column;
}

#task-name-error,
#project-name-error {
	color: #dc143c;
}

#project-name-input {
	border: none;
	border-bottom: solid #000 2px;
}

#project-name-input:focus {
	outline: none;
}

.form-input,
#project-name-selection {
	margin: 0.5em 0;
}

#task-time-input,
#task-date-input {
	margin-right: 0.5em;
}

#task-button-selector-div,
#project-button-selector-div {
	width: fit-content;
	margin: 0.5em auto;
}

#task-cancel-button,
#project-cancel-button {
	border-radius: 26px;
	border: #3d4849 solid 2px;
	color: #3d4849;
	background-color: #fff;
	margin: 0 0.15em;
	cursor: pointer;
}

#task-submit-button,
#project-submit-button {
	border-radius: 26px;
	border: #3d4849 solid 2px;
	color: #fff;
	background-color: #3d4849;
	margin: 0 0.15em;
	cursor: pointer;
}
